a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #e69b13c7;
  overflow: hidden;
}
.helper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titleHelper {
  display: flex;
  margin-bottom: 1rem;
}

.textLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
.title {
  font-weight: bold;
  font-family: Caveat;
  font-size: 4rem;
}

.chefContainer {
  margin-top: 1rem;
}

.chefTitle {
  font-weight: bold;
  font-family: Caveat;
  font-size: 3rem;
}

.description {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.chefImg {
  display:none;
  width: 38vw;
  height: 100vh;
}

.readReviewButton {
  background-color: orange;
  margin-left: 0;
}

.readReviewButton:hover {
  background-color: #ff7700;
}

.buttonLike {
  font-family: Caveat;
}


@media (min-width: 600px) {
  .chefImg {
    display:block;
  }

  .textLeft {
    padding: 1rem 5rem;
    width: 50vw;
  }
  .description {
    font-size: 1rem;
  }
}