.contactContainer {
  height: 100vh;
  text-align: center;
  background-color: #a2b964;
}
.helper {
  display: flex;
  padding: 1rem 5rem;
}
.shopImg {
  width: 40vw;
  height: 50vh;
}
.titleContainer {
  padding: 3rem 1rem;
}
.title {
  margin-top: 5rem;
  font-family: Caveat;
  font-size: 5rem;
  font-weight: bold;
}
.subtitle {
  font-family: Caveat;
  font-size: 2rem;
}
