.header {
  height: 6rem;
  background-color: #f1f1f1;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header a {
  float: left;
  color: #3e3e3e;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.5rem;
  border-radius: 3px;
  font-family: Caveat;
}

.logo {
  font-size: 1.5rem !important;
  font-weight: bold;
  font-family: Caveat;
}

.logoImg {
  float: left;
  padding: 3px;
  width: 4.5rem;
  height: 4.5rem;
}

.headerRight {
  padding-right: 2rem;
  float: right;
  display: none;
}

@media (min-width: 600px) {
  .headerRight {
    display: block;
  }
}
