.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 15px 20px;
}
.header a {
  float: left;
  color: #3e3e3e;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
  border-radius: 3px;
}

.logo {
  font-size: 30px !important;
  font-weight: bold;
  font-family: Caveat;
}

.logoImg {
  float: left;
  padding: 3px;
  max-width: 65px;
  max-height: 65px;
}
.headerRight {
  float: right;
}

.active {
  color: #a75d2e !important;
}
